@import 'normalize';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    word-break: keep-all;
    padding: 0 1rem;
}

main {
    margin-top: 1rem;
}

h1{
    margin: 0;
    padding: 0.5rem;

    font-size: 1.5rem;
    font-weight:500;
}

ol, ul, li {
    border: 0;
    list-style: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#app{
    min-height: 100vh;
}